<div class="contenedor">
    <div class="cabeza"></div>
    <div class="nav"></div>
    <div class="contenido">
        <form class="formLogin">
            <div class="titulo">
                <h5>Registro</h5>
            </div>
            <br>
            <div class="datosEntrada">
                <input class="entrada" type="text" placeholder="Nombre de tu tienda">
            </div>
            <br>
            <div class="datosEntrada">
                <input class="entrada" type="email" placeholder="correo electrónico">
            </div>
            <br>
            <div class="datosEntrada">
                <input class="entrada" type="password" placeholder="contraseña">
            </div>
            <br>
            <div class="datosEntrada">
                <select class="entrada" style="width: 190px;">
                    <option selected>Seleccione su plan:</option>
                    <option value="1">Caro</option>
                    <option value="2">Mediano</option>
                    <option value="3">Barato</option>
                </select>
            </div>
            <br>
            <div>
                <a class="terminos-link"><input class="input-f" type="checkbox">
                    Acepta los Terminos y Condiciones</a>
            </div>
            <br>
            <button class="btnLogin" type="submit">REGISTRARSE</button>
        </form>
        <img src="../../../../assets/img/logo1.png" alt="" class="logo">
    </div>
    <div class="pie"></div>
</div>