.logo-img {
    width: 120%;
}

.navbar {
    background-color: #184E5D;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav {
    margin-left: 50px;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    color: white;
}

.infoAdmin {
    text-align: center;
}