<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="">Explorar</a></div>
                <div class="elementoNav"><a href="/empresa/multimedia">Banco Multimedia</a></div>
                <div class="elementoNav"><a href="/empresa/administrarPaginas">Páginas</a></div>
                <div class="elementoNav"><a href="/empresa/productosYcategorias">Productos y Categorías</a></div>
                <div class="elementoNav"><input class="btnCerrarSesion" type="button" value="Cerrar Sesión"></div>
            </div>
        </nav>
    </div>
    <div class="contenido">
        <div class="imagenes">
            <div class="row" >
                <div class="card col-3" style="width: 18rem; padding: 5px;" *ngFor="let i of videos | paginate: {itemsPerPage: 12, currentPage: page}">
                    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa_dntwmphiLeJafmYwujdbtYtpkbjchIMZA&usqp=CAU" class="card-img-top imgCard" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.nombre}} </h5>
                        <div style="text-align: center;"><input type="button" value="Detalles" class="btnDetalles" (click)="detalles(i.id)"></div>
                    </div>
                </div>
            </div>
            <pagination-controls style="text-align: center;" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>
    <div class="pie"><br></div>
</div>