

<div class="contenedor">
    <div class="navegacion">
        <div class="contenedor-nav">
            
        </div>
    </div>
    <div class="contenido-principal">
        
            <img class="logo-der" src="./assets/dco-favicon.png">
            <div class="formulario">
                <div class="titulo-formulario">
                    <h2 class="titulo">Publicar un producto</h2>
                </div>
                <div class="cuerpo-formulario">
                    <form [formGroup]="productoForm" >
                        <div class="entrada-contenedor3">
                            <div>
                                <input formControlName="img" (change)="subir($event)" type="file" class="form-control" accept="image/*">
                            </div>
                            <br>
                            <div class="visualizacion">
                                <img [src]="img"  style="width: 100%;">
                            </div>
                            <div>
                                <input type="text" placeholder="File" formControlName="nombre" class="entradat">
                            </div>
                            <div>
                                <input type="number" placeholder="File" formControlName="precio" class="entradat">
                            </div>
                            
                        </div>
                      <div class="btnGuardar">
                            <input type="button" value="ACTUALIZAR" (click)="agregarUsuario($event)">
                        </div>
                    </form>
                </div>
                
            </div>
        
    </div>
    
    <div class="pie-pagina">
        
    </div>
</div>
