<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
    <div class="row titulo">
        <h3>Registrar Plan</h3>
    </div>
    <div class="row contenido">
        <div class="col-6 datosPlan">
            <form [formGroup]="formularioPlan">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <td scope="col"></td>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Nombre</td>
                        <td><input class="datoPlan" formControlName="nombre" type="text"></td>
                      </tr>
                      <tr>
                        <td scope="row">ID</td>
                        <td><input class="datoPlan" formControlName="id" type="text"></td>
                      </tr>
                      <tr>
                        <td scope="row">Descripción</td>
                        <td><input class="datoPlan" formControlName="desc" type="text"></td>
                      </tr>
                    </tbody>
                  </table>
            </form>
        </div>
        <div class="col-6">
            <h5>Caracteristicas</h5>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <td scope="col"></td>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">Tienda Online</td>
                    <td><input class="cPlan" type="checkbox"></td>
                  </tr>
                  <tr>
                    <td scope="row">Productos ilimitados</td>
                    <td><input class="cPlan" type="checkbox"></td>
                  </tr>
                  <tr>
                    <td scope="row">Atención 24/7</td>
                    <td><input class="cPlan" type="checkbox"></td>
                  </tr>
                  <tr>
                    <td scope="row">Gestión de mercados internacionales</td>
                    <td><input class="cPlan" type="checkbox"></td>
                  </tr>
                  <tr>
                    <td scope="row">Cuentas para personal</td>
                    <td><input class="cPlan" type="number" min="1" max="10"></td>
                  </tr>
                  <tr>
                    <td scope="row">Cargos por transacción</td>
                    <td><input class="cPlan" type="number" min="1" max="10"></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row boton justify-content-center">
        <button class="btn btn-success btnNuevo">Registrar</button>
    </div>
</div>
<div class="pie"><br></div>
