<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="/administracion/usuarios">USUARIOS</a></div>
                <div class="elementoNav"><a href="/administracion/empresas">EMPRESAS</a></div>
                <div class="elementoNav"><a href="/administracion/planes">PLANES</a></div>
                <div class="elementoNav"><a href="/administracion/temas">TEMAS</a></div>
                <div class="elementoNav">
                    <div class="infoAdmin">
                        <div>Admin 1</div>
                        <div>ID 001</div>
                        <input class="btnCerrarSesion" type="button" value="Cerrar Sesión">
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="contenido">
        <div class="botones">
            <a href="/administracion/usuarios"><input class="btnPrincipal" type="button" value="USUARIOS"></a>

            <a href="/administracion/empresas"><input class="btnPrincipal" type="button" value="EMPRESAS"></a>

            <a href="/administracion/planes"><input class="btnPrincipal" type="button" value="PLANES"></a>

            <a href="/administracion/temas"><input class="btnPrincipal" type="button" value="TEMAS"></a>
        </div>
    </div>
    <div class="pie"><br></div>
</div>