<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="">Explorar</a></div>
                <div class="elementoNav"><a href="/empresa/multimedia">Banco Multimedia</a></div>
                <div class="elementoNav"><a href="/empresa/administrarPaginas">Páginas</a></div>
                <div class="elementoNav"><a href="/empresa/productosYcategorias">Productos y Categorías</a></div>
                <div class="elementoNav"><input class="btnCerrarSesion" type="button" value="Cerrar Sesión"></div>
            </div>
        </nav>
    </div>
    <div class="contenido">
        <div class="titulo">
            <h2>ACTUALIZAR INFORMACION DE LA EMPRESA</h2>
        </div>
        <div class="actualizar">
            <div class="imagen">
                <label for="formFile">AGREGAR IMAGEN</label>
                <input style="border-radius: 0.375rem;" class="form-control " type="file" id="formFile">
                <br><br>
                <img src="" alt="no se ha ingresado nada" style="width: 150px;">
            </div>
            <div class="nombre">
                NOMBRE DE LA EMPRESA:
            </div>
            <div class="inputNombre">
                <input type="text" id="inputNombre">
            </div>
            <div class="correo">
                CORREO DE LA EMPRESA:
            </div>
            <div class="inputCorreo">
                <input type="email" name="" id="inputCorreo">
            </div>
            <div class="descripcion">
                DESCRIPCION DE LA EMPRESA:
            </div>
            <div class="inputDescripcion">
                <textarea id="inputDescripcion"></textarea>
            </div>
            <div class="cambiarContra">
                CAMBIAR CONTRASEÑA:
            </div>
            <div class="inputContra">
                <input type="text" id="inputContra">
            </div>
            <div class="confirmarContra">
                CONFIRMAR CONTRASEÑA:
            </div>
            <div class="inputConfirmar">
                <input type="text" id="inputConfirmar">
            </div>
            <div class="btnGuardar">
                <input type="button" value="ACTUALIZAR">
            </div>

        </div>
    </div>
    <div class="pie"><br></div>
</div>