<div class="contenedor">
    <div class="navegacion">
        <div class="contenedor-nav">
            <div class="nav-l">
                    <img class="logo" src="./assets/logo-lateral.png"><img>          
            </div>
            <div class="nav-c">
                <div class="contenedor-formulario ">
                    <form class="formulario">
                            <div class="contenedor-search">
                                <input class="buscador " type="search" placeholder="Buscar" aria-label="Search">
                                <div style="padding-left: 0px;"> 
                                    <button class="buscador-btn" type="submit"><img class="logo-search" src="./assets/search.svg"></button>
                                </div>
                                
                            </div> 
                    </form>
                </div>
            </div>
            <div class="nav-r">
                <div>
                    <a href="/usuarios">Iniciar Sesion</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="contenido-principal">
        <div class="conetenedor-cards">
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/usuarios/verProducto">
                <div class="tarjeta">
                    <div class="img-tarjeta">
                        <img class="imagen" src="./assets/pc-macbook.png">
                    </div>
                    <div class="contenedor-informacion">
                        <div class="informacion-producto">
                            <div>
                                MacBook-Pro
                            </div>
                            <div>
                                Lps. 10000
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
            
           
           
          
            
            
        </div>
    </div>
    <div class="pie-pagina">
        
    </div>
</div>
