.contenido {
    height: 60vh;
}

.titulo {
    height: 10vh;
    padding-top: 3vh;
    padding-left: 9vh;
}

.datosUsuario {
    padding-top: 8vh;
    padding-left: 20vh;
}

.datoUsuario {
    border-radius: 10px;
    width: 50vh;
}

.boton {
    height: 10vh;
}

.btnNuevo {
    width: 10%;
    height: 60%;
    margin-left: 20px;
    margin-right: 20px;
}

.fotoPerfil {
    margin-top: 3vh;
    height: 300px;
    width:  450px;
}

.pie {
    background-color: #184E5D;
    flex: 1;
}