<app-admin-navbar></app-admin-navbar>
<div class="contenedor">
    <div class="container mt-5 mb-5">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="card">
                <div class="card-body text-center">
                    <span>Lista de Empresas</span>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">2001</th>
                            <td>Empresa 1</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2023</th>
                            <td>Empresa 23</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2045</th>
                            <td>Empresa 45</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2034</th>
                            <td>Empresa 34</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2022</th>
                            <td>Empresa 22</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2122</th>
                            <td>Empresa 122</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2102</th>
                            <td>Empresa 102</td>
                            <td><button class="btn btnDetalles">Detalles</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <button class="btn btnEmpresa">Nuevo Usuario</button>
        </div>
    </div>
    <div class="pie"><br></div>
</div>