
.btnPlan{
    border-radius: 7px;
    background-color: #184E5D;
    color: white;
    margin-top: 1.5rem;
}

.btnDetalles {
    border-radius: 7px;
    background-color: #184E5D;
    color: white;
}
 

.pie {
    background-color: #184E5D;
    flex: 1;
}