<div [innerHTML]="cssStr | pipe">

</div>



<div class="contenedor" >
    <div [innerHtml]="htmlStr | pipe">

    </div>
    <div class="contenido-principal">
        <div class="container">
            <div class="row">
                    <div class="col-3 mt-4" style="width: 20%; " *ngFor="let producto of listProductos">
                        <a href="/usuarios/verProducto/{{producto._id}}">
                        <div class="card imagen-back" >
                            <div class="img-tarjeta">
                                <img class="imagen" src="{{producto.img}}">
                            </div>
                            <div class="contenedor-informacion">
                                <div class="informacion-producto">
                                    <div>
                                        {{producto.nombre}}
                                    </div>
                                    <div>
                                        {{producto.precio}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>  
                    </div>  
            </div>
            
        </div>
    </div>
    <div class="pie-pagina">
        
    </div>

</div>

