<div class="contenedor">
    <div class="navegacion">
        <div class="contenedor-nav">
            <div class="nav-l" style="text-align: center;">
                <a class="navbar-brand" href="/empresa/principal" style="width: 50%;">
                    <img class="logo" src="./assets/logo-lateral.png" style="width: 100%;"><img>
                </a>
            </div>
            <div class="nav-r">
                <a href="">Explorar</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/multimedia">Banco Multimedia</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/administrarPaginas">Páginas</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/productosYcategorias">Productos y Categorías</a>
            </div>
            <div class="nav-r">
                <div>
                    <input class="btnCerrarSesion" type="button" value="Cerrar Sesión">
                </div>
            </div>
        </div>
    </div>
    <div class="contenido">
        <div class="imagenes">
            <div class="row">
                <div class="card col-3" style="width: 18rem; padding: 5px;" *ngFor="let i of otrosArchivos | paginate: {itemsPerPage: 15, currentPage: page}">
                    <img src="https://media.istockphoto.com/vectors/file-folder-office-supply-icon-vector-id1182976811?k=20&m=1182976811&s=612x612&w=0&h=vV6IdJW0drWpPcvlen_pOa8jgw41mqdpcaZn-mxoYLg=" class="card-img-top imgCard" alt="..." >
                    <div class="card-body">
                        <h5 class="card-title">{{i.nombre}} </h5>
                        <div style="text-align: center;"><input type="button" value="Detalles" class="btnDetalles" (click)="detalles(i.id)"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <pagination-controls style="text-align: center; background-color: rgba(216, 246, 255, .50);" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
    <div class="pie"><br></div>
</div>