<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
    <div class="row titulo">
        <h3>Registrar Usuario</h3>
    </div>
    <div class="row contenido">
        <div class="col-6">
            <form>
                <label for="Nombre">Nombre</label>
                <div class="row datosPlantilla">
                    {{datosPlantilla.nombre}}
                </div>
                <label for="HTML">HTML</label>
                <div class="row datosPlantilla">
                    <pre class="language-html"><code>{{datosPlantilla.html}}</code></pre>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form>
                <label for="CSS">CSS</label>
                <div class="row datosPlantilla">
                    <pre class="language-css"><code>{{datosPlantilla.css}}</code></pre>
                </div>
                <label for="JavaScript">JavaScript</label>
                <div class="row datosPlantilla">
                    <pre class="language-javascript"><code>{{datosPlantilla.javascript}}</code></pre>
                </div>
            </form>
        </div>
    </div>
    <div class="row boton justify-content-center">
        <button class="btn btn-success btnNuevo" routerLink="/admin/editarTema/{{idPlantilla}}">Editar</button>
    </div>
</div>
<div class="pie"><br></div>
