<div class="contenedor">
    <div class="navegacion">
        <div class="contenedor-nav">
            <div class="nav-l" style="text-align: center;">
                <a class="navbar-brand" href="/empresa/principal" style="width: 50%;">
                    <img class="logo" src="./assets/logo-lateral.png" style="width: 100%;"><img>
                </a>
            </div>
            <div class="nav-r">
                <a href="">Explorar</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/multimedia">Banco Multimedia</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/administrarPaginas">Páginas</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/productosYcategorias">Productos y Categorías</a>
            </div>
            <div class="nav-r">
                <div>
                    <input class="btnCerrarSesion" type="button" value="Cerrar Sesión" (click)="cerrarSesion()">
                </div>
            </div>
        </div>
    </div>
    <div class="contenido">
        <div class="botones">

            
            <button type="button" class="btnPrincipal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                AGREGAR ARCHIVO
            </button>

            <a href="/empresa/imagenes"><input class="btnPrincipal" type="button" value="IMAGENES"></a>

            <a href="/empresa/otrosArchivos"><input class="btnPrincipal" type="button" value="OTROS ARCHIVOS"></a>

            <a href="/empresa/videos"><input class="btnPrincipal" type="button" value="VIDEOS"></a>
        </div>
    </div>
    <img [src]="logo" alt="no disponible" class="logoEmpresa">
    <div class="pie"><br></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar archivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="infoArchivo">
                    <input type="file" class="form-control" (change)="subir($event)" formControlName="archivo">
                </form>
            </div>
            <div class="visualizacion">
                <img *ngIf="infoArchivo.valid" [src]="archivo2" alt="esperando archivo" style="width: 100%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="agregar()" *ngIf="infoArchivo.valid" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>