<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="">Explorar</a></div>
                <div class="elementoNav"><a href="/empresa/multimedia">Banco Multimedia</a></div>
                <div class="elementoNav"><a href="/empresa/administrarPaginas">Páginas</a></div>
                <div class="elementoNav"><a href="/empresa/productosYcategorias">Productos y Categorías</a></div>
                <div class="elementoNav"><input class="btnCerrarSesion" type="button" value="Cerrar Sesión"></div>
            </div>
        </nav>
    </div>
    <div class="contenido">
        <div class="botones">

            <a href="/empresa/agregarArchivo"><input class="btnPrincipal" type="button" value="AGREGAR ARCHIVO"></a>

            <a href="/empresa/imagenes"><input class="btnPrincipal" type="button" value="IMAGENES"></a>

            <a href="/empresa/otrosArchivos"><input class="btnPrincipal" type="button" value="OTROS ARCHIVOS"></a>

            <a href="/empresa/videos"><input class="btnPrincipal" type="button" value="VIDEOS"></a>
        </div>
    </div>
    <img src="" alt="logo empresa" class="logoEmpresa">
    <div class="pie"><br></div>
</div>