.cabeza {
    background-color: #184E5D;
    text-align: center;
}

.pie {
    background-color: #184E5D;
    flex: 1;
}

.contenedor {
    background-color: rgba(216, 246, 255, .50);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido {
    background-color: rgba(216, 246, 255, .50);
    display: flex;
    height: 90vh;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    row-gap: 7px;
    flex-wrap: wrap;
}

.btnPrincipal {
    background-color: rgba(38, 108, 128, .10);
    border: none;
    height: 100%;
    margin: 5px;
    width: 33%;
}

.botones {
    height: 50%;
    width: 90%;
    text-align: -webkit-center;
}

.logo {
    width: 20%;
    flex: 0.4;
}

.logo-img {
    width: 120%;
}

.btnCerrarSesion {
    background-color: rgba(216, 246, 255, .50);
    color: white;
    border-radius: 10px;
    width: 100%;
}

.elementoNav{
    width: 10%;
}
.logoEmpresa{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20%;
    left: 2%;
}

#entrada{
    border-radius: .375rem;
}