.contenido {
    height: 60vh;
}

.titulo {
    height: 10vh;
    padding-top: 3vh;
    padding-left: 9vh;
}

.boton {
    height: 10vh;
}

.btnNuevo {
    width: 10%;
    height: 60%;
}

.datosPlantilla {
    padding: 7px;
}

.pie {
    background-color: #184E5D;
    position: fixed;
    bottom: 0;
    width: 100%;
}