<div class="contenedor">
  <div class="cabeza"></div>
  <div class="nav"></div>
  <div class="contenido">
      <form class="formLogin">
          <div class="titulo"><h5>Iniciar Sesión</h5></div>
          <br>
          <div class="datosEntrada">
              <input class="entrada" type="email" placeholder="correo electrónico">
          </div>
          <br>
          <div class="datosEntrada">
              <input class="entrada" type="password" placeholder="contraseña">
          </div>
          <br>
          <button class="btnLogin" type="submit" routerLink="/admin/home">INGRESAR</button>
      </form>
      <img src="../../../../assets/img/logo1.png" alt="" class="logo">
  </div>
  <div class="pie"></div>
</div>