.contenedor-nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navegacion {
    background-color: #184E5D;
    flex: 1;
}


.nav-l {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 88%;
    width: 42%;
}

.nav-c {
    flex: 2.7;
    background-color: #184E5D;
    align-items: center;
    justify-content: center;
}

.nav-r {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: larger;
    color: #ECFBFF;
}

.pie {
    background-color: #184E5D;
    height: 3%;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #ECFBFF;
}

.contenedor {
    background-color: rgba(216, 246, 255, .50);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido {
    background-color: rgba(216, 246, 255, .50);
    display: flex;
    height: 90vh;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    row-gap: 7px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.logo {
    width: 20%;
    flex: 0.4;
}

.logo-img {
    width: 120%;
}

.btnCerrarSesion {
    background-color: rgba(216, 246, 255, .50);
    color: white;
    border-radius: 10px;
    width: 100%;
}


.imagenes {
    display: grid;
    width: 80%;
    height: fit-content;
}

.row {
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;


}

.imgCard {
    width: 150px;
    height: 100px;
    align-self: center;
}
.btnDetalles{
    background-color: #184E5D;
    border-radius: 7px;
    color: white
}