<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="">Explorar</a></div>
                <div class="elementoNav"><a href="/empresa/multimedia">Banco Multimedia</a></div>
                <div class="elementoNav"><a href="/empresa/administrarPaginas">Páginas</a></div>
                <div class="elementoNav"><a href="/empresa/productosYcategorias">Productos y Categorías</a></div>
                <div class="elementoNav"><input class="btnCerrarSesion" type="button" value="Cerrar Sesión"></div>
            </div>
        </nav>
    </div>
    <div class="contenido">
        <div class="botones">
            <a href="/empresa/actualizarInfo"><input class="btnPrincipal" type="button" value="ACTULIZAR INFO"></a>

            <a href="/empresa/administrarPaginas"><input class="btnPrincipal" type="button"
                    value="ADMINISTRAR PAGINAS"></a>

            <a href="/empresa/registrar"><input class="btnPrincipal" type="button"
                    value="REGISTRAR PRODUCTOS Y CATEGORÍAS"></a>

            <a href="/empresa/multimedia"><input class="btnPrincipal" type="button"
                    value="ADMINISTRAR BANCO MULTIMEDIA"></a>

            <a href="/empresa/historial"><input class="btnPrincipal" type="button" value="HISTORIAL DE VENTAS"></a>
        </div>
    </div>
    <div class="pie"><br></div>
</div>