<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="">Explorar</a></div>
                <div class="elementoNav"><a href="/empresa/multimedia">Banco Multimedia</a></div>
                <div class="elementoNav"><a href="/empresa/administrarPaginas">Páginas</a></div>
                <div class="elementoNav"><a href="/empresa/productosYcategorias">Productos y Categorías</a></div>
                <div class="elementoNav"><input class="btnCerrarSesion" type="button" value="Cerrar Sesión" ></div>
            </div>
        </nav>
    </div>
    <div class="contenido">
       <div class="historial">
        <div class="row" id="tituloTabla">
            <div class="col-6" style="border-right: black 1px solid;">NOMBRE</div>
            <div class="col-6">DETALLES</div>
        </div>
        <!--Este de abajo será el que se genere de forma dinamica segun una lista de los productos vendidos-->
        <div class="row" id="contenidoTabla">
            <div class="col-6" id="nombreProducto">asd</div>
            <div class="col-6" id="verDetalles">
                <input type="button" value="Ver detalles" id="btnVerDetalles">
            </div>
        </div>
       </div>
    </div>
    <div class="pie"><br></div>
</div>