.cabeza {
    background-color: #184E5D;
    text-align: center;
}

.pie {
    background-color: #184E5D;
    flex: 1;
}

.logo {
    width: 20%;
    flex: 0.4;
}

.logo-img {
    width: 120%;
}

.btnCerrarSesion {
    background-color: rgba(216, 246, 255, .50);
    border-radius: 10px;
    width: 100%;
    color: white
}

.contenedor {
    background-color: rgba(216, 246, 255, .50);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido {
    background-color: rgba(216, 246, 255, .50);
    display: flex;
    height: 90vh;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    row-gap: 7px;
    flex-wrap: wrap;
}

.row {
    text-align: center;
}

#editar {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "nombre inputNombre . precio inputPrecio "
        "imagen imagen . calificacion inputCalificacion "
        "imagen imagen . descripcion inputDescripcion "
        "marca marca . existencias inputExistencias"
        ". . btnRegistrar . . "
}



.nombre {
    grid-area: nombre;
    align-self: center;
}

.inputNombre {
    grid-area: inputNombre;
    align-self: center;
}

.precio {
    grid-area: precio;
    align-self: center;
    text-align: right;
}

.inputPrecio {
    grid-area: inputPrecio;
    align-self: center;
}

.imagen {
    grid-area: imagen;
    text-align: center;
}

.calificacion {
    grid-area: calificacion;
    align-self: center;
    text-align: right;
}

.inputCalificacion {
    grid-area: inputCalificacion;
    align-self: center;
}

.descripcion {
    grid-area: descripcion;
    align-self: center;
    text-align: right;
}

.inputDescripcion {
    grid-area: inputDescripcion;
    align-self: center;
}

.marca {
    grid-area: marca;
}

.inputMarca {
    grid-area: inputMarca;
}

.categoria {
    padding-left: 10px;
}

.existencias {
    grid-area: existencias;
    text-align: right;
}

.inputExistencias {
    grid-area: inputExistencias;
}

.btnRegistrar {
    grid-area: btnRegistrar;
    background-color: #184E5D;
    color: white;
    border-radius: 10px;
    width: 100%;
}