<div class="contenedor">
    <div class="cabeza">
        <nav class="navbar cabeza">
            <div class="container">
                <a class="navbar-brand" href="/empresa/principal">
                    <img class="logo-img" src="../../../../assets/img/logo 2.png" alt="" width="100" height="100">
                </a>
                <div class="elementoNav"><a href="">Explorar</a></div>
                <div class="elementoNav"><a href="/empresa/multimedia">Banco Multimedia</a></div>
                <div class="elementoNav"><a href="/empresa/administrarPaginas">Páginas</a></div>
                <div class="elementoNav"><a href="/empresa/productosYcategorias">Productos y Categorías</a></div>
                <div class="elementoNav"><input class="btnCerrarSesion" type="button" value="Cerrar Sesión" ></div>
            </div>
        </nav>
    </div>
    <div class="contenido">
        <div class="container" id="editar">
            <div class="nombre">INGRESE EL NOMBRE DEL PRODUCTO: </div>
            <div class="inputNombre">
                <input style="border-radius: 0.375rem;"  type="text" name="" id="">
            </div>
            <div class="precio">INGRESE PRECIO DEL PRODUCTO: </div>
            <div class="inputPrecio">
                <input style="border-radius: 0.375rem;" type="number" name="" id="">
            </div>
            <div class="imagen">
                <label for="formFile">AGREGAR IMAGEN</label>
                <input style="border-radius: 0.375rem;" class="form-control " type="file" id="formFile">
                <br><br>
                <img src="" alt="no se ha ingresado nada" style="width: 150px;">
            </div>
            <div class="calificacion">INGRESE CALIFICACION DEL PRODUCTO: </div>
            <div class="inputCalificacion">
                <input style="border-radius: 0.375rem;" type="number" name="" id="">
            </div>
            <div class="descripcion">INGRESE LA DESCRIPCION DEL PRODUCTO: </div>
            <div class="inputDescripcion">
                <input style="border-radius: 0.375rem;" type="text" name="" id="">
            </div>
            <div class="marca">
                MARCA:
                <input style="border-radius: 0.375rem;" type="text">
                <label for="" class="categoria">Categoría: </label>
                <select style="border-radius: 0.375rem;">
                    <option selected>Seleccione:</option>
                </select>
            </div>
            <div class="existencias">EXISTENCIAS: </div>
            <div class="inputExistencias">
                <input style="border-radius: 0.375rem;" type="number" name="" id="">
            </div>

            <input class="btnRegistrar" type="button" name="" id="" value="Registrar producto">

        </div>
    </div>
    <div class="pie"><br></div>
</div>