<div class="contenedor">
    <div class="navegacion">
        <div class="contenedor-nav">
            <div class="nav-l" style="text-align: center;">
                <a class="navbar-brand" href="/" style="width: 50%;">
                    <img class="logo" src="./assets/logo-lateral.png" style="width: 100%;"><img>
                </a>
            </div>
            <div class="nav-r">
                <a href="/">Inicio</a>
            </div>
            <div class="nav-r">
                <a href="/Planes/">Nuestros Planes</a>
            </div>
            <div class="nav-r">
                <a href="/Tiendas/">Tiendas</a>
            </div>
            <div class="nav-r">
                <a href="/usuarios/inicioUsuario">¿Cliente? Pase por acá</a>
            </div>
            <div class="nav-r">
                <a href="/empresa/login">¿Empresa? Vengase pa´ca</a>
            </div>
            <div class="nav-r">
                <a href="/admin/login">¿Admin? Tu ven por acá</a>
            </div>
            <div class="nav-r" *ngIf="logged==true">
                <div>
                    <input class="btnCerrarSesion" type="button" value="Cerrar Sesión" (click)="cerrarSesion()">
                </div>
            </div>
        </div>
    </div>
    <div class="contenido">
        <div class="container">
            <div class="row">
                <div class="col-3 mt-4" style="width: 20%; " *ngFor="let empresa of listaEmpresas">
                    <!-- <a href="usuarios/ver-producto/{{empresa._id}}"> -->
                        <div class="card imagen-back">
                            <div class="img-tarjeta">
                                <img class="imagen" src="{{empresa.logo}}" alt="¡ups! no hay imagen u.u">
                            </div>
                            <div class="contenedor-informacion">
                                <div class="informacion-producto">
                                    <div>
                                        {{empresa.nombre}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>
            </div>

        </div>
    </div>

    <div class="pie"><br></div>
</div>